POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE_NAME=events
 
# API провайдера событий
EVENTS_API_KEY=ваш_ключ
EVENTS_API_URL=http://events-provider.dev-2.python-labs.ru
